.drawer-container {
  // position: relative;
  // height: 400px;
  // border: 3px solid red;
//  display: flex;
  flex-direction: column;
  justify-content: stretch;
  overflow: hidden;

  .main {
    position: relative;
    padding: 10px;
    box-sizing: border-box;
    // height: 100%;
    border: 3px solid red;
    width: 100%;
  }
}
.rc-drawer {

//  display: flex;
  // border: 3px solid blue;
//  height: 100vh;
  position: relative !important;
  overflow-y: hidden !important;

  &-sidebar {
    padding: 16px;
    background-color: #e4f6fe;
  }
  &-left &-sidebar,
  &-right &-sidebar, {
    height: 100%;
  }
}

.rc-drawer-overlay {
  display: none !important;
}

.rc-drawer-content {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: stretch;
  overflow: hidden;
}

.rc-drawer-sidebar {
//  max-height: 50vh;
}