h1 {
  margin: 0;
  font-size: 1.5em
}

h3 {
  margin-top: 0;
}

address {
  font-style: normal;
}

.pad {
  height: 10px;
}

.close {
  position: relative;
  text-align: right;
}

.close span {
  color: #aaa;
  position: relative;
  right: 20px;
}

.cta {
  padding: 0.5em;
  font-size: 1.5em;
  cursor: pointer;
  background-color: #F04A6F;
  border: 0 none;
  color: #fff;
  width: 100%;
}

.searchBox {
  padding: 0.7em;
}

.searchBox input {
  border: 1px solid #ccc;
  margin-left: 1em;
}

.prodNeeded {
  display: flex;
  flex-direction: row;
  border-top: 1px solid #ccc;
}

.prodNeeded:last-child {
  border-bottom: none;
}

.prodNeeded .prodName {
  width: 30%
}

.prodNeeded .prodCenterName {
  flex: 1;
}

.returnToSearch {
  padding: 0.3em;
  color: #ccc;
}

.navigation{
  flex: 2 0 0;
}
/*
@media (max-width: 375px) {
  .App-header {
    height: 12vh;
    padding: 1em;
  }

  .sub-title {
    display: none;
  }
  .navigation {
    display: none;
  }
  .logo .title{
    margin-left: 10px;
  }
  .map-container{
    position: relative;
  }
  button.cta {
    position: absolute;
    top: 3%;
    left: 3%;
    z-index: 10000;
    border-radius: 50px;
    font-size: 1em;
    font-weight: 700;
    width: 60%;
    height: 10vh;
  }
}
*/
.smalltitle{
  margin-left: 8px;
  font-size: 13px;
}
@media(min-width: 375px) {
  .smalltitle{
    display: none;
  }
}
