.input-container {
    text-align: left;
    max-width: 600px;
    margin-bottom: 10px;
}

.input-container:last-child {
    margin-bottom: 0;
}

.input-text {
    font-size: 16px;
    max-width: 100%;
    width: 100%;
    padding: 5px;
}

.input-radio-group-title {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 7px;
}

.input-label {
    padding-right: 10px;
    margin-bottom: 5px;
}

.input-radio {
    position: relative;
    top: -1px;
    margin-left: 5px;
}



.input-submit {
    cursor: pointer;
    background-color: #F04A6F;
    height: 30px;
    border-radius: 0;
    border: none;
    display: block;
    margin: 0 auto;
    font-size: 16px;
}

.input-submit:hover {
    background-color: rgba(255, 100, 143, 0.82);
}

.registration-form__container {
    max-width: 530px;
    width: 100%;
    margin: 0 auto;
    padding: 10px 15px;
}